body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  color: white;
}
.logo {
  margin-top: 20px;
  margin-left: 100px;
  width: 200px;
}
.container {
  display: flex;
  flex-direction: column;
  margin-block: 15%;
}
.quiz__buttons {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-inline: 50px;
  margin-block: 20px;
  padding-inline: 20%;
  min-width: 60%;
}
button {
  width: 350px;
  height: 60px;
  padding-block: 10px;
  padding-inline: 10px;
  border-radius: 55px;
  margin-inline: 50px;
  margin-block: 50px;
  gap: 20px;
  background-color: transparent;
  color: white;
}
.quiz__title {
  text-align: center;
  margin-top: 50px;
}
.quiz__counter {
  text-align: center;
  margin-block: 60px;
}
h1,
h2,
label,
button {
  font-family: "outfit";
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 60px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
}
button:hover {
  background-color: deeppink;
}
.timer-container {
  width: 100%;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.timer {
  font-size: 36px;
  border: 10px solid #8c1680;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: border-color 1s linear;
}

.timer span {
  font-size: 8px;
}

@keyframes borderAnimation {
  0% {
    border-color: #00ffff;
  }
  100% {
    border-color: #8c1680;
  }
}

.timer.animation {
  animation: borderAnimation 1s linear infinite;
}
